#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.hover-effect:hover {
  
  text-decoration: none; /* Remove default underline */
  border-bottom: 5px solid rgb(14, 14, 14); /* Add underline effect */
}



.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  display: flex;
  align-items: center;
  /* Add any other styling you need for the navbar brand */
}

.navbar-logo {
  
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between the logo and text */
  /* Add any other styling you need for the logo */
}
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height for full viewport */
  background-color: #f0f0f0; /* Light gray background */
}

.card {
  max-width: 500px; /* Adjust width as needed */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


.card-img-top {
  position: relative;
}

.card-img-top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust transparency */
}


.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 1.5rem; /* Add some space after title */
}

.card-text {
  font-size: 16px;
  line-height: 1.5; /* Improve readability */
  margin-bottom: 1rem; /* Add some space between paragraphs */
}

.card-text ul {
  list-style: disc; /* Bullet points for features */
  padding-left: 20px; /* Indent list */
  margin-top: 0; /* Remove default top margin */
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10px); /* Adjust positioning as needed */
  background-color: #333; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0; /* Tooltip initially hidden */
  transition: opacity 0.2s ease-in-out; /* Add smooth fade-in/out transition */
}

.nav-item:hover .tooltip {
  opacity: 1; /* Tooltip becomes visible on hover */
}
